<?php

/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */

use Doctrine\ORM\Mapping\Driver\AnnotationDriver;

return [
    'view_manager' => [
        'display_exceptions' => true,
    ],
    'doctrine'     => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDO\MySQL\Driver::class,
                'params'      => [
                    'host'     => '127.0.0.1',
                    'port'     => '3306',
                    'user'     => 'root',
                    'password' => '',
                    'dbname'   => 'laminas',
                ],
            ],
        ],
        'driver'                   => [
            'doctrine_driver' => [
                'class' => AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [
                    'module/Application/src/Model',
                ],
            ],
            'orm_default'     => [
                'drivers' => [
                    'Application\Model' => 'doctrine_driver',
                ],
            ],
        ],
        'migrations_configuration' => [
            'orm_default' => [
                'directory'       => 'module/Application/src/Migrations',
                'name'            => 'Migrations Name',
                'namespace'       => 'Application\\Migrations',
                'table'           => 'application_migrations_table',
                'column'          => 'version',
                'custom_template' => null,
            ],
        ],
    ],
];
